obj/Debug/netcoreapp2.1/Mio.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.1/Mio.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.1/Mio.assets.cache
obj/Debug/netcoreapp2.1/Mio.csprojAssemblyReference.cache
bin/Debug/netcoreapp2.1/Mio.deps.json
bin/Debug/netcoreapp2.1/Mio.deps.json
bin/Debug/netcoreapp2.1/Mio.runtimeconfig.json
bin/Debug/netcoreapp2.1/Mio.runtimeconfig.dev.json
bin/Debug/netcoreapp2.1/Mio.pdb
bin/Debug/netcoreapp2.1/Mio.dll
obj/Debug/netcoreapp2.1/Mio.dll
obj/Debug/netcoreapp2.1/Mio.pdb
